.navbar {
  background: #000 !important;
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-radius: 2px;
  height: 20%;
}

.navbar-nav .nav-link {
  color: #fff;
  font-size: 20px;
}

.active {
  background: #313140 !important;
  max-width: 75px;
  border-radius: 6px;
}

.home-container {
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(187, 183, 183, 1) 23%, rgba(0, 0, 0, 1) 100%);
  padding: 2em;
  border-radius: 10px;
}

.overflow {
  overflow: hidden;
  height: 350px;
}

.style-li {
  display: inline;
  list-style: none;
}

.card-img-top {
  width: 100%;
  height: 300px;
}

.span {
  font-size: 20px;
}

.login-card {
  position: relative;
  background: #fff;
  display: flex;
  border-radius: 1.5rem;
}

.form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-img{
  height: 50px;
}

.border {
  background-color: #fff;
}
